body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: papayawhip;
    color: rgb(0,0,0);
}

p {
    /* many ways to specify colors */
    /* play with the VS Code color picker */
    color: rgb(0,0,0);
    color: hsl(0, 54%, 35%);
    color: #000000;
    color: #000;
    color: gold;
    color: hsl(247, 46%, 37%);
}

.one {
    color: darkred;
}

.two {
    color: darkgreen;
}

.three {
    color: darkslategray;
}
