/* This file contains experimental CSS settings. */

h1 {
    border: 1px solid red;
    /* padding: 1rem; */
}

p {
    /* border: 1rem solid blue; */
    /* padding: 1rem; */
    font-size: 2rem;
}

.container {
    border: dashed red;
    border-top-width: 3px;
    border-top-style: ridge;
    border-top-color: blue;
    border-right: 10px dotted blue;
    font-size: 1.5rem;
    margin: 1.5em;
    padding: 1.5em;
    outline: 5px solid purple;
    outline-offset: 5px;
}

.circle {
    margin: 3rem auto;
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50px;
    outline: 2px solid red;
    outline-offset: 0.25rem;
}
